.conteudo-sessao1 {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-top: 70px;
    padding: 0 20px;
  }
  
  .conteudo-sessao1-escrito {
    display: flex;
    flex-direction: column;
  }
  
  .conteudo-sessao1-escrito-titulo {
    color: #445964;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
  }
  
  .conteudo-sessao1-escrito-subtitulo {
    color: #445964;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .conteudo-sessao1 {
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      box-sizing: content-box;
      padding: 0;
    }

  }