.conteudo-sessao2-escrito-titulo {
    color: #445964;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
  
  .conteudo-sessao2-escrito-subtitulo {
    color: #445964;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: -10px;

  }
  
  .conteudo-sessao2-escrito {
    display: flex;
    flex-direction: column;
  }
  
  .conteudo-sessao2 {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-top: 0px;
    padding: 0 20px;
    
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 2vw;
    margin-left: 260px;
    margin-top: 35px;
  }
  
  .gallery-items {
    width: 220px;
    height: 220px;
    border: 10px solid #FFF;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    transition: transform .5s linear;
  }
  
  .gallery-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-items:hover {
    transform: scale(1.1);
  }